@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@font-face {

    font-family: 'myPacifico' ;
    src: url('/fonts/geosanslight_regular.ttf') format('truetype');
 
 }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'myPacifico', sans-serif;
    background-color: #18005A;
}

.header_container {
    background: url(./images/Home.png) no-repeat  center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 550px;
}

.header_container_inner_title {
    text-align: center;
    font-size: 1.1em;
    padding-top: 35px;
}

.header_container_inner_title p {
    border-radius: 50px 0 50px 50px;
    background: linear-gradient(90deg, rgba(33,213,232,1) 0%, rgba(3,79,150,1) 100%);
    margin: 0 auto;
    width: max-content;
    padding: 5px 25px 5px 15px;
    color: white;
}
.header_flex_container{
    display: flex;
    justify-content: space-between;
    width: 27em;
    align-items: center;
    text-align: center;
    margin: 13px auto;
}
.header_flex_container p{
    font-size: 1.7em;
}
.header_flex_container img{
    height: 35px;
}
.header_container_outer{
    margin-top: 200px;
}
.header_container_outer p{
    text-align: center;
    /* letter-spacing: 0.1em; */
    /* font-weight: bold; */
    font-size: 1rem;
}
.header_container_outer button{
    color: #fff;
    background: #13BC1B;
    padding: 7px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
    display: flex;
    font-weight: bolder;
    cursor: pointer;
}

.header_container_outer button:hover {
    background-color: #4AA96C;
}
.second_container_benz{
    display: flex;
    justify-content: space-between;
    width: 525px;
    margin: 0 auto;
    background: #329DBE;
    height:38px;
    border-radius: 10px 0px 20px 10px;
    margin-top: -88px;
}
.second_container_benz p{
    color: #fff;
    padding-top: 7px;
    padding-right: 15px;
}
.second_container_benz img{
    width: 48px;
    background: #329DBE;
    border-radius: 50px;
    margin: -10px 12px;
    padding: 10px;
    width: 60px;
}
.leaderboards_actions p{
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
}

.items {
    margin:180px 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    height: 100px;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 164px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    margin-top: 91px;
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.9;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.9;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 143%;;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 334px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;

    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }
.above_image{
    
    height: 25px !important;
    width: 106px !important;
    object-fit: fill !important;
    margin: 0 98px !important;
    position: absolute;
  }
.egt{
    height: 15px !important;
    width: 32px !important;
    object-fit: fill !important;
    margin: 5px 117px;
    position: absolute;
  }
.final{
    font-size: 0.6rem;
    color: #fff;
    margin: 6px 164px;
    position: absolute;
}
.final-2{
  font-size: 0.6rem;
  color: #fff;
  margin: 6px 175px;
  position: absolute;
}
.playNgo{
    height: 15px !important;
    width: 60px !important;
    object-fit: fill !important;
    margin: 5px 110px;
    position: absolute;
}

.line{
    height: 2px;
    border: 1px solid #707070;
    opacity:0.6;
    width: 80px;
    background: #DFCDF8;
    position: absolute;
    margin: 0 10px;
}
.underLine{
    height: 2px;
    border: 1px solid #707070;
    opacity:0.6;
    width: 80px;
    background: #DFCDF8;
    position: absolute;
    margin: 25px 66px;
}
.line2{
    height: 2px;
    border: 1px solid #707070;
    opacity:0.6;
    width: 80px;
    background: #DFCDF8;
    position: absolute;
    margin: 0 210px;
}

.line3{
    height: 2px;
    border: 1px solid #707070;
    opacity:0.6;
    width: 80px;
    background: #DFCDF8;
    position: absolute;
    margin:145px 110px;
}
.carousel_title{
    font-size: 0.8rem;
    margin: -71px auto;
    width: 590px;
    text-align: center;
    color: #fff;
}
.leaderBoard_menu_title{
    margin: 160px auto;
    text-align: center;
}
.leaderBoard_menu_title p{
    font-size: 1.2rem;
    color: #fff;
}
.rectangle_img{
    width: 220px;
}
.rectangles_container{
    display: flex;
    justify-content: space-between;
    margin: -110px auto;
    cursor: pointer;
    max-width: 750px;
}
.rectangle_over_img{
    width: 220px;
    position: absolute;
    margin-left: -219px;
    margin-top: 38px;
    z-index: -1;
}
.icon_over_boom{
  position: absolute;
  width: 249px;
}
.icon_over{
  position: absolute;
}
.icon_over_playNgo{
  width:128px;
  margin: 26px 41px;
}
.icon_over_egt{
  width: 108px;
  margin: 20px 55px;
}
.title_rectangles{
  position: absolute;
  margin: 90px 46px;
  background: #fff;
  padding: 2px 10px;
  border-radius: 10px 0px 20px 10px;
}
.inner_title{
  margin: 136px 37px;
  position: absolute;
  color: #fff;
  font-size: 0.8rem;
}
.section{
  margin-top:200px;
}
.boom_sec_image{
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  width: 790px;
  height: 300px;
  background: rgb(42,18,100);
  background: linear-gradient(90deg, rgba(42,18,100,1) 0%, rgba(204,11,130,1) 100%);
}
.playNgo_sec_image{
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  width: 790px;
  height: 300px;
  background: rgb(4,145,169);
  background: linear-gradient(90deg, rgba(4,145,169,1) 0%, rgba(20,89,175,1) 100%);
}
.egt_sec_image{
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  width: 790px;
  height: 300px;
  background: rgb(250,67,110);
  background: linear-gradient(90deg, rgba(250,67,110,1) 0%, rgba(157,0,34,1) 100%);
}
.boom_container_main{
  margin: 200px auto;
  text-align: center;
}
.mask-group{
  position: absolute;

  margin: -45px -144px;

  width: 191px;
}
.before-mask-group{
  position: absolute;
  width: 126px;
  margin: -248px -114px;

}
.flex_elip_cont{
  display: flex;
  justify-content: flex-start;
  color: #fff;
  margin: 10px;
}
.flex_elip_cont img{
  margin: 5px 5px;
  height: 12px;
}
.outer_ellipce_cont{
  
  margin: -211px 115px;
}
.image_ellips{
  position: absolute;
  margin: -255px 0;
  width: 347px;
}
.image_ellips_egt{
    position: absolute;
    margin: -255px 0;
    width: 347px;
}

.boom_titles_list{
  background: #44256E;
  height: auto;
  padding: 5px;
  margin: -97px auto;
  text-align: center;
  width: 747px;
  border-radius: 13px;
}
.flex_list_container{
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
  margin: 5px 47px;
}
.flex_list_container img{
    height: 5px;
    margin: 7px 5px;
}
.flex_list_container p{
  color: #fff;
}
.flex-container-bm{
    display: flex;
    margin: 15px;
    color: #fff;
    font-size: 0.8rem;
    justify-content: flex-start;
}
.flex-container-bm img{
  height: 11px;
  width: 11px;
  
  margin: 5px;

}
.titles_containetr_bm{
  padding: 20px;
}
.boom_button{
  background: #6207B8;
  padding: 10px;
  color: #fff;
  border: none;
  font-size: 0.8rem;
  outline: none;
  /* display: flex; */
  /* justify-content: flex-start; */
  width: 125px;
  margin: 17px;
  border-radius: 10px 0 20px 10px;
  cursor: pointer;
}
.egt_button{
  background: #C11A36;
  padding: 10px;
  color: #fff;
  border: none;
  font-size: 0.8rem;
  outline: none;
  /* display: flex; */
  /* justify-content: flex-start; */
  width: 125px;
  margin: 17px;
  border-radius: 10px 0 20px 10px;
}
.playNgo_button{
  background: #3A7BCC;
  padding: 10px;
  color: #fff;
  border: none;
  font-size: 0.8rem;
  outline: none;
  /* display: flex; */
  /* justify-content: flex-start; */
  width: 125px;
  margin: 17px;
  border-radius: 10px 0 20px 10px;
}
.playNgo_button a{
  background: #679FE5;
  padding: 6px 10px;
  font-size: 1rem;
  border-radius: 50px;
  margin: 0 3px;
}
.egt_button a{
  background: #6F051C;
  padding: 6px 10px;
  font-size: 1rem;
  border-radius: 50px;
  margin: 0 3px;
}
.boom_button a{
    background: #8E20F0;
    padding: 6px 10px;
    font-size: 1rem;
    border-radius: 50px;
    margin: 0 3px;
}
.egt_image{
  position: absolute;
  width: 117px;
}
.grape{
  width: 150px;
  margin: -178px -87px;
}
.green{
    margin: -336px 347px;
    width: 131px;
  
}
.orange{
    width: 200px;
    margin: -422px -521px;
}
.watermelon{
    width: 158px;
    margin: 59px -493px;
}
.seven{
    margin: -41px -176px;
    width: 110px;
}
.berry{
    margin: 54px 365px;
}
.orange2{
    margin: -370px -453px;
    width: 110px;
}
.watermelon2{
    width: 110px;
    margin: 50px -451px;
}
.playNg{
  width: 100px;
  position: absolute;
}
.hr{
  margin: 9px 373px;
}
.gargaton{
  margin: -387px -465px;
}
.monster{
  margin: 18px -521px;
  width: 178px;
}
.zeus{
  width: 156px;
  margin: -409px 362px;
}
.girl{
  width: 362px;
  margin: -246px;
}
.white_sec{
    text-align: left;
    grid-template-columns: 205px 205px 205px;
    display: grid;
    height: 170px;
    width: 747px;
    background: #fff;
    border-radius: 10px;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 24px 118px;
}
.white_div_container{
  margin: 133px auto;
  text-align: center;
  justify-content: center;
  display: flex;
  
}
.wht_title{
  font-size: 1rem;

  font-weight: bold;
}
.inner_title_wh{
  font-size: 0.7rem;
}
.white_sec img{
  margin: -136px -119px;
  position: absolute;
  width: 260px;
}
.opacity_wh{
  height: 50px;
  width: 747px;
  opacity: 0.6;
  border-radius: 10px;
  position: absolute;
  background: #C0A8E6;
  margin: 96px -119px;
}
.opacity_wh p{
    font-size: 0.8rem;
    align-items: center;
    margin: 15px;
    text-align: center;
}

.img_last{
  height: 119px;
  width: 243px;
}
.flex-container_last{
  display: flex;
  justify-content: center;
}
.purple{
  position: absolute;
  margin: -1px -242px;
}
.egt_sect_last{
  margin: 0 10px;
}
.red{
  position: absolute;
  margin: 0 -242px;
}
.blue{
  position: absolute;
  margin: 0 -243px;
}
.boom{
    position: absolute;
    height: 71px;
    margin: 22px -201px;
   
}
.egtL{
  height: 64px;
  position: absolute;

  margin: 32px -187px;
  
}
.playngo{
  height: 42px;
  position: absolute;
  margin: 39px -202px;

}
.last_leaderboards_container{
  margin-top: -47px;
}


.acordion_footer {
  margin-top: 80px;
}
.accordion {
  cursor: pointer;
background-color: #6207B8;
color: #fff;
cursor: pointer;
height: 50px;
margin-top: 10px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
transition: 0.4s;
border-radius: 14px;
opacity: 0.8;
}

.acordion_inner_div img {
height: 15px;
width: 15px;
}

.active, .accordion:hover {
background-color: #03256C;
}

.acordion_inner_div {
display: flex;
justify-content: space-between;
align-items: center; 
margin: 0 20px;
}

.panel {
color: #fff;
font-size: 0.8rem;
padding: 10px;
padding: 0 18px;
background-color: #18005A;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}

.panel p {
letter-spacing: 1px;
padding: 10px 0 10px 0;
}

.acordion-container {
max-width: 700px;
margin: 30px auto;
}
.arrow-active {
transform: rotate(180deg);
}
.login_container {
background: #18005A;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
border: 1px dashed grey;
width: 749px;
height: 57px;
margin: 0 auto;
border-radius: 10px 0px 10px 10px;
}
.login_container p {
  background: #18005A;
  color: #fff;
  margin-top: -2px;
 text-align: center;
}
.login_container button {
background: #f2590A;
padding: 10px 50px;
cursor: pointer;
border: none;
border-radius: 5px;
margin-top: 15px;
}
button:focus{
outline: none;
}
.rules {
  cursor: pointer;
display: flex;
text-align: center;
margin: 70px auto 0 auto;
background: #9D0022;
border: none;
padding: 10px 80px;
color: white;
border-radius: 30px 0px 30px 30px;
}
.extra1{
  position: absolute;
  position: absolute;
  height: 463px;
  opacity: 0.8;
  right: 10px;
}
.extra2{
  position: absolute;
  height: 463px;
  opacity: 0.8;
  /* margin: 10px; */
  left: 30px;
}
.shutterstock{
  position: absolute;
  width: 100%;
  margin-top: -500px;
  z-index: -1;
}
.new{
  position: absolute;
}
.triangle{
  position: absolute;
  height: 50px;
  width: 50px;
  background: rgba(157,0,34,1);
  transform: rotate(
45deg
);
  z-index: -1;
  margin: -5px 360px;
}
.triangle2{
  position: absolute;
    height: 50px;
    width: 50px;
    background: rgba(204,11,130,1);
    transform: rotate( 
45deg
 );
    z-index: -1;
    margin: -5px 126px;
}
.triangle3{
  position: absolute;
  height: 50px;
  width: 50px;
  background: rgba(4,145,169,1);
  transform: rotate(
45deg
);
  z-index: -1;
  margin: -5px 590px;
}
.owl-carousel{
  margin: 153px auto;
  text-align: center;
  
  z-index: 1;
  

}

.owl-stage-outer {
  max-width: 750px;
  margin: 0 auto;

}
.flex-container_last div {
 
  cursor: pointer;
}
.login_button button{
  color: white;
}

.reponsive_container {
  background: white;
  max-width: 750px;
  display: flex;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  flex-direction: column;
}
.responsive_container_first_div  {
  margin: 20px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: left;
  
}
.flex-container_last {
  margin-top: 70px;
}

.responsive_footer  {
  
  background: #C0A8E6;
  opacity: 0.6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 0 0 15px 15px;
}
.responsive_titl{
  font-size: 1.3rem;
}
.mask_9 img{
  position: absolute;
  width: 281px;
  margin: -138px -100px;
}
.resp_container p{
  font-size: 0.8rem;
}